[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = This is an internal project for displaying all data from blackduck, Nessus, OpenVas, Coverity and some other tools
[access "refs/*"]
	owner = group user/WeiserAriel
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/WeiserAriel
	label-Verified = -1..+1 group user/WeiserAriel
	push = group user/WeiserAriel
	read = group user/WeiserAriel
	rebase = group user/WeiserAriel
	removeReviewer = group user/WeiserAriel
	submit = group user/WeiserAriel
[access "refs/heads/*"]
	create = group user/WeiserAriel
	push = +force group user/WeiserAriel
	pushMerge = group user/WeiserAriel
	read = group user/WeiserAriel
[access "refs/tags/*"]
	push = group user/WeiserAriel
	push = +force group user/WeiserAriel
